$smTitle-color: #6F7884;
$footer-title-color0: #36515c;
$bg-color: #152024;
$bg-color3: #263b43d6;
$default-color:#164270;
$default-color-light:#4fa4ff;
$lgTitle-color: #ffffff18;

$bg-color2: #000000a5;
$bg-color30: #00000022;


$DB: #172F49;
$DBs: #172f498e;

$LB: #254367;

$G: #003641;
$Gs: #0f444ee4;

$Bd: #2b4148;
$B: #7b7b7b;
$Bs: #5858585f;

$Y: #EECE95;
$Ys: #eecd95e0;
$Yss: #eecd956e;
$Yd: #ebc481;

$W: #e5e5e5;
$Wd: #bcbcbc;
$Ws: #e5e5e554;
$Wss: #e5e5e526;

// div {
//     justify-content: initial;

// }

$FontFamily: "Open Sans", Tahoma, Arial, Helvetica;

div {

    color: #805E73
    #87BCDE;

    bg: #efcfa0;
    primary_text: #2b1c108a;
    secondary_text: #92553e79;
    secondary_bg: #874765;
    primary_bg: #e1d4c134;
    secondary_text: #f4e1d2;
}